.goods {
  width: 200px;
  height: 200px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

// .slider-boots {
//   width: 100px;
//   height: 100px;
// }

// .slider-boots__first-photo {
// }

// .slider-boots__second-photo {
// }

// .slider-boots__third-photo {
// }

.img-test {
  width: 120px;
  height: 120px;
  background-color: orange;
  // background-image: url(../../img/children_shoes/first_black_shoes/1.jpg);
}
