.header {
  position: relative;
  background-color: bisque;
}

.header__button-menu {
  position: absolute;
  display: inline-flex;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
