.header {
  margin: 10px;
  height: 40px;

  background-color: var(--other-bg-cl);
  color: var(--other-color-wight);
  // border: 1px solid gray;
}

.header__button-menu {
  position: absolute;
  display: inline-flex;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.header__mobile-menu {
  display: none;

  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;

  height: 500px;
  background-color: var(--other-color-wight);
  color: var(--black-txt-logo);

  &.is-open {
    display: block;
  }
}
