.header__button-menu {
  fill: var(--other-color-wight);
}

.header__icon-dagger {
  display: none;
}

.header__button-menu.is-open .header__icon-dagger {
  fill: var(--other-color-wight);
  display: block;
}

.header__button-menu.is-open .header__icon-menu {
  display: none;
}
